html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Josefin Sans';
}

.navbar-brand {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    color: #0D0E43 !important;
}

.hetko-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #0D0E43 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  /*  background-color: #2196F3;*/
    padding: 10px;
}

    .grid-container > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
