@page
@model ProductsModel 
@{
    ViewData["Title"] = "Ecommerce Acceories & Fashion item";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

<div class="product">
    <div class="grid-container">
        @if(ProductsModel.Products != null)
        {
            
        }
        <div class="item_">
            <div class="product_image"><img src="https://picsum.photos/200/300" /></div>
            <div class="product_title">
                ALX SABÃO ROSA 5X100G
            </div>
            <div class="product_price">
                € 1,49
            </div>
        </div>
        <div class="item2">2</div>
        <div class="item3">3</div>
        <div class="item4">4</div>
        <div class="item5">5</div>
        <div class="item6">6</div>
        <div class="item7">7</div>
        <div class="item8">8</div>
        <div class="item8">9</div>
    </div>
</div>